<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>954679736892-5gnrg62s8j1jlon91klkiqqke4oa9ve8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954679736892-5gnrg62s8j1jlon91klkiqqke4oa9ve8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7IQeTqaLfF064Kb_jnDg9l7NUpIMvzLI</string>
	<key>GCM_SENDER_ID</key>
	<string>954679736892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toracross.craveapp</string>
	<key>PROJECT_ID</key>
	<string>crave-app-414b4</string>
	<key>STORAGE_BUCKET</key>
	<string>crave-app-414b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:954679736892:ios:31cb04b9b06ca0ad</string>
	<key>DATABASE_URL</key>
	<string>https://crave-app-414b4.firebaseio.com</string>
</dict>
</plist>
